In [3]:
#Import Library yang diperlukan
import requests
from bs4 import BeautifulSoup

In [4]:
# Mendefinisikan link yang akan dituju
url='https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

In [5]:
# Melakukan Ekstrak terhadap informasi yang ada di web tujuan
raw=requests.get(url)

In [ ]:
# Mengubah hasil ekstrak ke dalam format HTML
page=BeautifulSoup(raw.text, 'html')

In [ ]:
# Mengambil tabel yang diinginkan (List of Largest Companies)
## Karena terdapat lebih dari satu tabel yang memiliki "class_ = wikitable sortable" maka menggunakan indeks "0" sebagai tanda bahwa yang diambil adalah tabel pertama 
table=page.find_all('table',class_='wikitable sortable')[0]

In [8]:
# Mengambil data judul dari tabel yang dituju
judul_table=table.find_all('th')
judul_table

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [9]:
# Melakukan cleaning pada hasil ekstrak judul dengan output berformat "list"
judul=[judul_fix.text.strip() for judul_fix in judul_table]
judul

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

In [10]:
# Mengubah menjadi judul kolom data frame dengan library pandas
import pandas as pd
df=pd.DataFrame(columns=judul)
df

C:\Users\msi\AppData\Local\Temp\ipykernel_15944\3195325519.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [ ]:
# Melakukan ekstrak data per Row
row=table.find_all('tr')
row

In [13]:
# Memasukkan hasil ekstrak ke dalam dataframe yang sudah dibuat
for value in row[1:]:
    value_fix=value.find_all('td')
    fix_value=[final.text.strip() for final in value_fix]
    length=len(df)
    df.loc[length]=fix_value
df.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"

In [85]:
# Menyimpat via CSV
df.to_csv(r'C:\Users\msi\Downloads\scrap.csv')